/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*nesting c variables*/
/*propiedades del header*/
body {
  background-color: #f5e1da; }

header h1 {
  text-align: center; }

/*propiedades del menu*/
nav {
  background-color: #f1f1f1; }
  nav ul {
    display: flex;
    padding: 1.5rem;
    justify-content: center;
    list-style: none;
    margin: 10px;
    justify-content: space-evenly; }
    nav ul li {
      font-size: 1rem;
      margin: 15px; }
      nav ul li a {
        text-decoration: none; }

/*propiedades del main*/
.mainNosotros {
  height: 60vh;
  display: grid;
  grid-template-areas: "mainP mainP" "imagen1 imagen2" "imagen3 imagen4" "parrafo parrafo";
  justify-content: center;
  justify-items: center;
  text-align: center; }
  .mainNosotros .mainContacto {
    font-size: 1.5rem;
    justify-content: center;
    text-align: center;
    border: solid black;
    background-color: #d4c4be; }
  .mainNosotros .mainContacto legend {
    font-size: 2rem;
    color: #b4b1b1; }
  .mainNosotros .mainP {
    grid-area: mainP;
    text-align: center;
    font-size: 1.2rem; }
  .mainNosotros .mainP span {
    color: whitesmoke; }
  .mainNosotros .imagen1 {
    grid-area: imagen1;
    border: solid whitesmoke; }
  .mainNosotros .imagen2 {
    grid-area: imagen2;
    border: solid whitesmoke; }
  .mainNosotros .imagen3 {
    grid-area: imagen3;
    border: solid whitesmoke; }
  .mainNosotros .imagen4 {
    grid-area: imagen4;
    border: solid whitesmoke; }
  .mainNosotros .parrafo {
    grid-area: parrafo;
    text-align: center;
    font-size: 1.2rem; }
  .mainNosotros div img {
    width: 50%; }

/*propiedades del footer*/
footer {
  text-align: center;
  margin-top: 12rem; }
  footer p {
    text-align: center; }

/* MEDIA QUERIES */
@media screen and (min-width: 1024px) {
  /* ESTILOS AL NAV */
  nav {
    margin: 2.0rem; }
  nav ul {
    display: flex;
    justify-content: center;
    gap: 1.5rem; }
  /* estilos del main */
  .mainNosotros {
    display: grid;
    grid-template-areas: "mainP mainP mainP mainP" "imagen1 imagen2 imagen3 imagen4" "parrafo parrafo parrafo parrafo";
    column-gap: 2rem; }
  .mainP {
    align-self: center; } }
